body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('/images/background-image.png') no-repeat center center fixed;
    background-size: cover;
}

.overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    position: relative;
    z-index: 10;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: #ccc;
}

.navbar-brand img {
    height: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
}

.main-box {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.2); */
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}